[submodule "HugoMDL"]
	path = themes/HugoMDL
	url = git@github.com:jchatkinson/HugoMDL.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:devmatogrosso/devmatogrosso.github.io.git
