<!-- Make a card view for posts -->
<div class="mdl-card mdl-cell mdl-cell--8-col mdl-shadow--6dp">

    <!-- card title -->
    <div class="mdl-card__media mdl-color-text--grey-50">
        <h3>Bem vindo ao DevMT</h3>
    </div>

    <!-- Snippet of post -->
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        Este grupo é voltado para trocas de ideais entre profissionais e estudantes da área de tecnologia. Convidamos a todos os entusiastas ou não, seja de qualquer segmento tecnológico; desenvolvimento de software, infraestrutura ou suporte para trocas de experiências, conhecimento, aprender e ensinar. Buscamos melhorar o relacionamento entre os profissionais de tecnologia da nossa região.
    </div>

    <!-- Author and Date -->
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <!-- author's profile pic 
        {{with .Params.author.image}}<div class="minilogo" style="background-image: url('{{.}}');"></div>{{end}}
        <div>
            <strong><a href="{{ .Params.author.website }}">{{ .Params.author.name }}</a></strong>
            <span>{{ .Date.Format "Jan 2, 2006" }}</span>
        </div>
        -->        
        {{ partial "socialbtns.html" . }}
    </div>

</div>